html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

a.tablinks, button.nav-link, a {
    color: #2881b3;
}

.btn-primary {
    background-color: #3097d1;
    border-color: #3097d1;
}

.btn-primary:hover {
    background-color: #2881b3;
    border-color: #2579a9;
}

.btn-danger {
    background-color: #df8585;
    border-color: #df8585;
}

.btn-danger {
    background-color: #d76767;
    border-color: #d45d5d;
}

.representativesTable {
    table-layout: fixed;
    word-wrap: break-word;
}

/* Social Media Links */
.socialMediaLink {
    color: inherit;
    padding: 5px;
    text-decoration: none;
}

.youtube {
    color: #ff0000
}

.facebook {
    color: #159ff9;
}

.twitter {
    color: #1e9bf0;
}

/* Back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {
    .hideOnMobile {
        display: none;
    }
}

@media screen and (max-width:767px){
    .nav-tabs#electionInfo > li {
        flex: 1 0 0%;
    }
}